* {
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
    box-sizing: border-box;
}

html {
    color: #fff;
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; /* instead of margin-top */
    background-color: #1b1b1b;
}

li {
    cursor: pointer;
    list-style-type: circle;
    margin: 2rem 0;
    text-transform: capitalize;
    font-weight: 500;
}

li:hover {
    color: #feac5e;
}

.main_todo_div {
    width: 100%;
    max-width: 36rem; /* allow shrinking on small screens */
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
}

button {
    height: 5rem;
    font-size: 1.6rem;
}

h1 {
    font-size: 2.8rem;
    margin: 2rem 0;
    text-align: center;
}

hr {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 36rem;
}

p,
li,
button {
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    line-height: 1.6;
}

button {
    background-color: #f5ee62;
    padding: 0.6rem 1.6rem;
    border-radius: 10rem;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover {
    box-shadow: inset 0 0 0 0.2rem #f5ee62;
    background-color: transparent;
    color: #f5ee62;
}

input {
    padding: 1rem;
    width: 100%;
    font-size: 1.6rem;
    border-radius: 0.6rem;
    border: none;
}

.deletBtn {
    margin-left: 1rem;
}
